*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }
html,body {
height: 100%;
width: 100%;
font-family: sans-serif;
}

.display{
    width:99%;
    height: 10%;    
    border-radius: 1.5rem;
    background-color: #EDF3F3;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.401);
    display: flex;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #757678;
    /* box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.082); */
}
.calculator{
    width:25vw ;
    height: 75vh;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.43);
    border-radius: 5vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.calculator h1{
    text-align: center;
    text-transform: capitalize;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EECCFF;
}
.numbers{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn{
    background-color: #ECEFF4;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.285);
    border:none;
    color: #161515;
    font-size: 1.5rem;
    cursor: pointer;
}
#equal{
    background-color: #E3AECC;
    
}