$parimary-color: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  // padding: 0 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
// -----------------------------nav---------------------------------------------------
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.75rem;
  font-size: 0.96rem;
  background-color: #fafafa;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.39);

  .mid-nav-part {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    font-weight: 500;

    a {
      transition: all ease 0.5s;
    }
    a:hover {
      color: #ffab42;
    }
  }
  .right-nav-part {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .contant-us {
      padding: 0.25rem 1rem;
      border: 1px solid black;
      border-radius: 2rem;
    }
    .login {
      color: white;
      background-color: black;
      padding: 0.35rem 1.5rem;
      border-radius: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: $parimary-color;
    text-transform: capitalize;
    cursor: pointer;
  }
}
// ---------------------------section-1-----------------------------------------------

.section-1 {
  padding: 1.25rem 1.75rem;
  display: flex;
  justify-content: space-between;

  h4 {
    font-weight: 600;
    font-size: 1.075rem;
    text-transform: capitalize;
  }

  .searchBar-and-filter {
    display: flex;
    gap: 1rem;

    .search-bar {
      display: flex;
      border: 1px solid #d4d4d4;
      padding: 0.3rem 0.75rem;
      padding-right: 4rem;
      gap: 0.25rem;
      border-radius: 0.5rem;
      input {
        border: none;
        outline: none;
      }
      input::placeholder {
        color: #b5b5b5;
        font-size: 0.85rem;
      }
    }

    .filter {
      border: 1px solid #d4d4d4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}

//----------------------------section-2-----------------------------------------------
.section-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 1.75rem;
  justify-content: space-between;

  .card {
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    padding: 1.25rem;
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;

    .heading-para {
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
      h3 {
        color: #393939;
        
      }

      p {
        color: #6c6969;
        padding-bottom: 1.75rem;
      }
    }

    .btn-and-price {
      border-top: 1px solid #d4d4d4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;

      .price {
        display: flex;
        align-items: center;
        gap: 0.65rem;

        h6 {
          font-weight: 500;
          font-size: 0.9rem;
          color: #2b2b2b;
        }
        h3 {
          color: #272727;
        }
      }

      button {
        border: 1px solid #ffb938;
        //   border:1px solid transparent;
        //   border-image:linear-gradient(to right, #ff0000, #0000ff);
        //   border-image-slice: 1;
        text-transform: capitalize;
        color: #262626;
        border-radius: 2rem;
        padding: 0.5rem 0.75rem;
        font-weight: 600;
        font-size: 1rem;
        background-image: linear-gradient(to right, #fffdfb, #f6e8cef1);
      }
    }
  }
}
